.filters-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.filter-container{
    padding: 8px 16px;
    margin: 10px 0;
    width: 200px;
    min-width: fit-content;
}
.filter-heading{
    font-size: 24px;
    font-family: "Roboto";
}